.receipt-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}
.swiper {
    width: 100%;
    height: auto;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
    background-color: var(--pink) !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--green) !important;
}