* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white : rgba(255, 255, 255, 1);
  --light-white : rgba(255, 255, 255, 0.8);
  --grey : rgba(208, 208, 208, 1);
  --light-grey : rgba(255, 255, 255, 0.1);
  --green : rgba(55, 174, 171, 1);
  --pink : rgba(245, 107, 154, 1);
  --purple : rgba(35, 31, 66, 1);
  --black7 : rgba(0, 0, 0, 0.7);
  --black6 : rgba(0, 0, 0, 0.6);
  --black4 : rgba(0, 0, 0, 0.4);
}
@font-face {
  font-family: 'Sansita One';
  src: url('./assets/Fonts/SansitaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.app {
  background: var(--purple);
  min-height: 100vh;
  height: auto;
  width: 100vw;
  font-family: 'Sansita One';
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: var(--pink);
}
.link {
  list-style: none;
  text-decoration: none;
  color: var(--green);
}
.pagenotfound {
  display: grid;
  place-content: center;
  height: 100vh;
  font-size: x-large;
  color: var(--light-white);
}